
<h1>My Profile</h1>

<b>
<h3>Name: <%= @current_user.name %></h3> 
<hr>
<h3>Email id:  <%= @current_user.email %></h3>
<hr>
<b>
<div>
<% @posts.each do |post| %>
   <%=post.title%>
  <% end %>
</div>

</b>
