<div class="media">
  <div class="media-left">
    <a href=#>
      <img class="pull-left img_related" class="media-object" src="<%= image_url post.thumbnail.html_safe %>">
    </a>
  </div>
  <div class="media-body">
    <strong><%= post.title %></strong>
  </div>
</div>
